<div id="main_content" class="ui grid">

  <div class="five wide column">
    <h3 id="main_left">
      NEO (NEW EXPERIMENT
      <br>
      OPERATIONS) IS AN
      <br>
      INTER-DISCIPLINARY
      <br>
      COLLABORATION
      <br>
      BETWEEN ARCHITECTS,
      <br>
      GRAPHIC DESIGNERS
      <br>
      & BRAND STRATEGISTS
      <br>
      BASED IN NEW YORK.
    </h3>
  </div>


  <div id="main_right" class="ten wide column">
    <p id="main_right_text">
      FROM
      <br>
      HOTEL
      <br>
      CORRIDOR
    </p>

    <div id="padding_bottom" class="hr">
      <hr>
    </div>

    <p id="main_right_text">
      TO
      <br>
      NEW TYPOLOGY
      <br>
      OF HOSIPITALITY
    </p>

    <div class="hr">
      <hr>
    </div>

  </div>


</div>
