
<!-- Main Nav Bar -->
<div id="topFixedMenu" class="ui top fixed borderless secondary fluid five item menu">

  <!-- Left Logo -->
    <h4 id="title" class="item"> 新 实 建 N E O </h4>

  <!-- Right Menu -->
    <a id="nav_items" class="item" href="/#" class="vertically fitted item">About</a>
    <a id="nav_items" class="item" href="/#" class="vertically fitted item">Projects</a>
    <a id="nav_items" class="item" href="/#" class="vertically fitted item">News</a>
    <a id="nav_items" class="item" id="reqeustInfo" href="/#" class="vertically fitted item">Contact</a>

</div>
