<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Head partial -->
  <%- include ../partials/head %>

</head>
<body>
  <div id="body">
    <%- include ../partials/main_nav %>

    <%- include ../partials/contents %>
  </div>
  <h5 id="footer">@2016, N.E.O. All rights reserved.</h5>
</body>
</html>
